/* Load the variable font */
@font-face {
  font-family: 'SFUIRounded';
  src: url('SFUIRounded.woff2') format('woff2-variations');
  font-weight: 100 900;
}

:root {
  --text-weight: 400;
  --text-width: 100;
  --text-spacing: 28;
  --text-grade: 400;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.container {
  font-family: 'SFUIRounded', sans-serif;
  margin: 0 auto;
  max-width: 60rem;
  padding: 3rem;
  text-align: center;
}

.demo-text {
  font-size: 5rem;
  font-stretch: var(--text-width);
  font-style: normal;
  font-weight: var(--text-weight);
  font-variation-settings: "wght" var(--text-weight), "SPAC" var(--text-spacing), "GRAD" var(--text-grade);
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.demo-text-small {
  padding-top: 4rem;
  font-size: 2rem;
  font-stretch: var(--text-width);
  font-style: normal;
  font-weight: var(--text-weight);
  font-variation-settings: "wght" var(--text-weight), "SPAC" var(--text-spacing), "GRAD" var(--text-grade);
  margin: 0;
}

.controls {
  margin-top: 3rem;
}

.slider-container:not(:first-child) {
  margin-top: 3rem;
} 

.slider-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  
}

.slider-label {
  font-size: 1.25rem;
  font-style: normal;
  font-variation-settings: "SPAC" 28;
  font-weight: 591;
}

.output {
  font-style: normal;
  font-variation-settings: "SPAC" 28;
  font-weight: 400;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1rem;
  border-radius: .25rem;
  background: #dee7ec;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background: #456bd9;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background: #456bd9;
  cursor: pointer;
}

.slider::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
}

.slider::-moz-range-thumb:active {
  cursor: -moz-grabbing;
}

.button {
  background: #fff;
  border: 3px solid #dee7ec;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  opacity: 1;
  padding: .25rem .75rem;
  transition: background ease-in .2s;
}

.button:hover,
.button:focus {
  background: #eaf0f3;
}
